.el-steps {
  margin-top: 0;
  padding: 0 !important;
  border: 1px solid #cdd0d3;
}
.el-step {
  flex-basis: 0 !important;
  border-right: 1px solid #cdd0d3;
  flex: 1 !important;
}

.el-step.customzz .el-step__head {
  background-color: #67c23a !important;
}

.el-step:first-child .el-step__head {
  border-radius: 3px 0 0 3px;
}

.el-step:last-child .el-step__head {
  border-radius: 0 3px 3px 0;
}

.el-step:last-child {
  border-right: none;
}

.el-step__head {
  width: 100% !important;
  height: 8px;
  border: none !important;
  padding: 0 !important;
}

.el-step__main {
  display: none !important;
}

.el-step__head.is-success {
  background-color: #67c23a;
}

.el-step__head.is-error {
  background-color: #fe5957;
}

.el-step__head.is-process {
  background-color: #ffdd99;
}

.el-step__icon,
.el-step__arrow {
  display: none !important;
}

.el-pagination__sizes {
  position: absolute;
  right: 0;
}

.form-control {
  display: flex;
}

.form-control .el-form-item {
  flex: 1;
}

.form-control .el-form-item:not(:nth-child(1)) {
  margin-left: 16px;
}

.el-form-item__label-wrap {
  margin: 0 !important;
}

.el-form-item.is-required .el-form-item__label::before {
  display: none !important;
}

.el-form-item.is-required .el-form-item__label::after {
  content: "*";
  color: #f56c6c;
  margin-left: 4px;
  display: block;
}

.form-btn .el-form-item__content {
  justify-content: end;
  margin-top: 16px 0 30px 0;
}

.form-kpi,
.member-kpi {
  position: fixed;
  right: 0;
  width: calc(100% - 240px);
  max-width: 1500px;
  height: 100vh;
  z-index: 999;
  top: 0;
  background: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out !important;
  /* right: -100%; */
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transform-origin: 100% 50%;
}

.member-kpi {
  max-width: 1100px;
  z-index: 1001;
}

.member-kpi .el-tabs {
  padding: 15px 15px 0;
}

@media screen and (max-width: 1160px) {
  .form-kpi {
    width: calc(100% - 65px);
  }
}

.side-panel {
  right: 0 !important;
  z-index: 9999 !important;
}

.form-kpi.active,
.member-kpi.active {
  transform: translateX(0%);
  /* right: 0; */
  visibility: visible;
  opacity: 1;
}

.form-kpi .el-form {
  margin: 0 !important;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.form-wrapper {
  padding: 15px 15px 0;
}

.overlay,
.overlay_kpi {
  position: fixed;
  z-index: 998;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.overlay_kpi {
  z-index: 1000;
}

.overlay.active,
.overlay_kpi.active {
  visibility: visible;
  opacity: 0.4;
}

.el-button + .el-button {
  margin-left: 0 !important;
}

.kpi_item .el-form-item {
  margin-bottom: 0 !important;
}

.kpi_item + .kpi_item {
  margin-top: 16px;
}

.change-kpi_btn {
  margin-top: 16px;
  display: flex;
  place-self: flex-end !important;
}

.list-ms-processes {
  padding-top: 8px;
}

.infinite-list-wrapper {
  margin: 16px 0;
}

.infinite-list-wrapper {
  scrollbar-width: thin;
}

.el-message-box .el-button + .el-button {
  margin-left: 12px !important;
}

.loader-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 999;
  display: none;
}

.loader-wrap.active {
  display: block;
}

.loader {
  display: block;
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.form-table-msa .el-table__body-wrapper {
  display: none;
}

.el-input.increase .el-input__wrapper {
  background-color: #d2febc !important;
}

.el-input.decrease .el-input__wrapper {
  background-color: #ffc8c8 !important;
}

.el-table thead th.el-table__cell {
  background: #21498f !important;
  color: #fff;
}
